## Create Tables

Let us create required tables to store YouTube metadata for the analysis
* videos
* playlists
* playlist_videos
* video_tags

In [1]:
%run 01_setup_database.ipynb

In [2]:
%load_ext sql

In [3]:
%sql DROP TABLE IF EXISTS categories

Done.

[]

In [4]:
%%sql

CREATE TABLE categories (
    category_id INT PRIMARY KEY,
    category_name VARCHAR(200) NOT NULL,
    last_updated DATE DEFAULT CURRENT_DATE
)

 * postgresql://yt_user:***@localhost:5432/yt_db
Done.

[]

In [16]:
%sql DROP TABLE IF EXISTS videos CASCADE

 * postgresql://yt_user:***@localhost:5432/yt_db
Done.

[]

In [17]:
%%sql

CREATE TABLE videos (
    video_id VARCHAR(30) PRIMARY KEY,
    video_title VARCHAR(200) NOT NULL,
    video_description VARCHAR(5000),
    video_category_id INT,
    video_file_name VARCHAR(200),
    video_privacy_status VARCHAR(30),
    video_published_dt DATE,
    last_updated DATE DEFAULT CURRENT_DATE
)

 * postgresql://yt_user:***@localhost:5432/yt_db
Done.

[]

In [5]:
%sql DROP TABLE IF EXISTS playlists

 * postgresql://yt_user:***@localhost:5432/yt_db
Done.

[]

In [6]:
%%sql

CREATE TABLE playlists (
    playlist_id VARCHAR(50) PRIMARY KEY,
    playlist_title VARCHAR(200) NOT NULL,
    playlist_description VARCHAR(5000),
    playlist_video_count INT,
    playlist_privacy_status VARCHAR(30),
    playlist_published_dt DATE,
    last_updated DATE DEFAULT CURRENT_DATE
)

 * postgresql://yt_user:***@localhost:5432/yt_db
Done.

[]

In [58]:
%%sql

DROP TABLE IF EXISTS playlist_videos

 * postgresql://yt_user:***@localhost:5432/yt_db
Done.

[]

In [59]:
%%sql

CREATE TABLE playlist_videos (
    playlist_video_id SERIAL PRIMARY KEY,
    playlist_id VARCHAR(50),
    video_id VARCHAR(50),
    video_position INT,
    video_added_dt DATE,
    last_updated DATE DEFAULT CURRENT_DATE
)

 * postgresql://yt_user:***@localhost:5432/yt_db
Done.

[]

In [60]:
%%sql

ALTER TABLE playlist_videos
    ADD UNIQUE (playlist_id, video_id, video_position)

 * postgresql://yt_user:***@localhost:5432/yt_db
Done.

[]

In [61]:
%%sql

ALTER TABLE playlist_videos
    ADD FOREIGN KEY (playlist_id)
    REFERENCES playlists (playlist_id)

 * postgresql://yt_user:***@localhost:5432/yt_db
Done.

[]

In [62]:
%%sql

ALTER TABLE playlist_videos
    ADD FOREIGN KEY (video_id)
    REFERENCES videos (video_id)

 * postgresql://yt_user:***@localhost:5432/yt_db
Done.

[]