## Populate Playlist Videos

Let us populate playlist videos into a new table called as **playlist_videos**.
* **playlist_videos** is a bridge table between playlists and videos.
* We will use the functions defined as part of getting playlists to get both playlist details as well playlist items details.
* We will build a list of playlist items with below fields.
  * playlist_id
  * video_id
  * video_position (with in the playlist)
  * video_published_dt (date on which video is added to the playlist).

In [1]:
%run 04_function_get_database_connection.ipynb

In [2]:
%run 06_get_playlists_data.ipynb

Please visit this URL to authorize this application: https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=684254837377-fgfrvlp2d6sml1975u58c9q6osj79tkt.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fyoutube&state=mlalvuA7mP4R7P5inx1f3XK2HlJMkM&prompt=consent&access_type=offline

Enter the authorization code:  4/1AY0e-g6PLtCT09LITauWkW_O9tWvy1DJtO5bvNwFpUJtQK5erL3vlNnXczU

In [38]:
playlist_details = youtube.playlistItems().list(
    part='snippet',
    playlistId='PLf0swTFhTI8pdq_MKvQL9aXQyWNudc6ZY'
).execute()

In [39]:
playlist_details['items'][0]

{'kind': 'youtube#playlistItem',
 'etag': 'Vb4H6pQmbadP0-tt77XD0KazWKg',
 'id': 'UExmMHN3VEZoVEk4cGRxX01LdlFMOWFYUXlXTnVkYzZaWS41NkI0NEY2RDEwNTU3Q0M2',
 'snippet': {'publishedAt': '2019-08-08T22:50:02Z',
  'channelId': 'UCakdSIPsJqiOLqylgoYmwQg',
  'title': 'Rolling restart after adding services is struck and logs are not giving any information.',
  'description': 'After adding Hive and Impala, there were stale configuration. so I  did rolling restart. Apparently data node is not able to start. I check the  log files for scm-agent, It fails to send heartbeat. I think its user-permission issue for some file on data node.\n\nYou can enroll for the course in Udemy for $10\nhttps://www.udemy.com/cca-131-cloudera-certified-hadoop-and-spark-administrator/?couponCode=CCA131FOR10\n\nIf you need live support like this then reach out to us at support@itversity.com',
  'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/vAw471coxfM/default.jpg',
    'width': 120,
    'height': 90},
   'medium': {'url': 'https://i.ytimg.com/vi/vAw471coxfM/mqdefault.jpg',
    'width': 320,
    'height': 180},
   'high': {'url': 'https://i.ytimg.com/vi/vAw471coxfM/hqdefault.jpg',
    'width': 480,
    'height': 360}},
  'channelTitle': 'itversity',
  'playlistId': 'PLf0swTFhTI8pdq_MKvQL9aXQyWNudc6ZY',
  'position': 0,
  'resourceId': {'kind': 'youtube#video', 'videoId': 'vAw471coxfM'}}}

```{note}
Getting all the playlists from the channel.
```

In [40]:
playlists_details = get_playlists(youtube, channel='UCakdSIPsJqiOLqylgoYmwQg')

In [ ]:
playlists_details[0][0]

In [ ]:
playlist_items = get_playlist_items(playlists_details[0][0], 'UCakdSIPsJqiOLqylgoYmwQg')

In [ ]:
playlist_items[:10]

In [ ]:
for playlist in playlists_details[:10]:
    print(playlist[0])

```{note}
Getting all the playlist items into a list. It will fetch all the items for a one playlist at a time.
```

In [1]:
l1 = [1, 2, 3, 4]
l2 = [4, 5, 6]

l1 + l2

[1, 2, 3, 4, 4, 5, 6]

In [41]:
playlist_videos= []

for playlist in playlists_details:
    playlist_videos += get_playlist_items(playlist[0], 'UCakdSIPsJqiOLqylgoYmwQg')

In [42]:
len(playlist_videos)

4207

In [43]:
playlist_videos[0]

('PLf0swTFhTI8rkH4yIfoyTAheEGjWIRtPG',
 'ETZJln4jtAo',
 0,
 '2020-12-29T15:39:21Z')

In [44]:
len(playlist_videos)

4207

```{note}
Loading playlists data into the table. We are inserting one at a time and printing the message if insert fails.
```

In [45]:
query = ("""
INSERT INTO playlist_videos (
    playlist_id, video_id, video_position, video_added_dt
)
VALUES
    (%s, %s, %s, %s)
""")

In [46]:
def load_data(connection, cursor, query, data):
    for rec in data:
        try:
            cursor.execute(query, rec)
            connection.commit()
        except Exception as e:
            print(f'Insertion of {rec[0]}:{rec[1]} is failed')
            connection.commit()

In [47]:
yt_connection.commit()

In [48]:
load_data(
    yt_connection, yt_connection.cursor(), 
    query, playlist_videos
)

Insertion of PLf0swTFhTI8rkH4yIfoyTAheEGjWIRtPG:_wthxkHZFMo is failed
Insertion of PLf0swTFhTI8rt0Bk0RAFC5-S6CUNrVQva:2KYfYXG8Bpg is failed
Insertion of PLf0swTFhTI8rt0Bk0RAFC5-S6CUNrVQva:17IMypKztJ4 is failed
Insertion of PLf0swTFhTI8rt0Bk0RAFC5-S6CUNrVQva:OVrjO11XFYQ is failed
Insertion of PLf0swTFhTI8oQ5MKXOkQtCp6ksHZFf8wo:xIa_QBvrYxo is failed

```{note}
Validating data in playlist_videos table.
```

In [3]:
%load_ext sql

In [4]:
%run 01_setup_database.ipynb

In [5]:
%%sql

SELECT * FROM playlist_videos LIMIT 10

10 rows affected.

[(1, 'PLf0swTFhTI8rkH4yIfoyTAheEGjWIRtPG', 'ETZJln4jtAo', 0, datetime.date(2020, 12, 29), datetime.date(2021, 1, 5)),
 (2, 'PLf0swTFhTI8rkH4yIfoyTAheEGjWIRtPG', '1OVHjHTkP3M', 1, datetime.date(2020, 12, 29), datetime.date(2021, 1, 5)),
 (3, 'PLf0swTFhTI8rkH4yIfoyTAheEGjWIRtPG', 'qfUbPLsLQcQ', 2, datetime.date(2020, 12, 29), datetime.date(2021, 1, 5)),
 (4, 'PLf0swTFhTI8rkH4yIfoyTAheEGjWIRtPG', 'rLTbhSaXhSM', 3, datetime.date(2020, 12, 29), datetime.date(2021, 1, 5)),
 (5, 'PLf0swTFhTI8rkH4yIfoyTAheEGjWIRtPG', 'wP7BhXrJKR8', 4, datetime.date(2020, 12, 29), datetime.date(2021, 1, 5)),
 (6, 'PLf0swTFhTI8rkH4yIfoyTAheEGjWIRtPG', 'L-72r4mxhZI', 5, datetime.date(2020, 12, 29), datetime.date(2021, 1, 5)),
 (7, 'PLf0swTFhTI8rkH4yIfoyTAheEGjWIRtPG', 'f4V6Gg3ybFw', 6, datetime.date(2020, 12, 29), datetime.date(2021, 1, 5)),
 (8, 'PLf0swTFhTI8rkH4yIfoyTAheEGjWIRtPG', 'bwEUYfkQWRk', 7, datetime.date(2020, 12, 29), datetime.date(2021, 1, 5)),
 (9, 'PLf0swTFhTI8rkH4yIfoyTAheEGjWIRtPG', 'SFOpsK_LZVQ', 8, datetime.date(2020, 12, 29), datetime.date(2021, 1, 5)),
 (10, 'PLf0swTFhTI8rkH4yIfoyTAheEGjWIRtPG', '3fV-YsQiRAQ', 9, datetime.date(2020, 12, 29), datetime.date(2021, 1, 5))]

In [8]:
%%sql

SELECT p.playlist_id, p.playlist_title, count(1) 
FROM playlists p JOIN playlist_videos pv
    ON p.playlist_id = pv.playlist_id
GROUP BY p.playlist_id, p.playlist_title
ORDER BY 3 DESC
LIMIT 10

 * postgresql://yt_user:***@localhost:5432/yt_db
10 rows affected.

[('PLf0swTFhTI8ot9JViW0_QLDEp71Q0PUNI', 'CCA 159 - Data Analyst - Sqoop , Hive and Impala', 235),
 ('PLf0swTFhTI8rT3ApjBqt338MCO0ZvReFt', 'CCA 175 Spark and Hadoop Developer using Python', 161),
 ('PLf0swTFhTI8pst8i3rA6ymGJOx8nO5ouS', 'Cloudera Hadoop and Spark Cluster Administration - CCA 131 Certification', 158),
 ('PLf0swTFhTI8rDQXfH8afWtGgpOTnhebDx', 'CCA 175 Spark and Hadoop Developer - Scala', 157),
 ('PLf0swTFhTI8o-a4RWO4bpDVqdEH72XMwk', 'Data Engineering bootcamp - 201803 (access required)', 96),
 ('PLf0swTFhTI8rJvGpOp-LujOcpk-Rlz-yE', 'Hadoop Certifications - Cloudera Certified Associate Spark and Hadoop Developer', 94),
 ('PLf0swTFhTI8rkH4yIfoyTAheEGjWIRtPG', 'Mastering Python - A Comprehensive Python Course for beginners and experienced developers', 91),
 ('PLf0swTFhTI8oQdrGpfyz8ShnFG2KBsyRj', 'Data Engineering Bootcamp - Spark 2.3.x using Scala', 89),
 ('PLf0swTFhTI8oQsWSgILHbvJZrnyTOmdrw', 'Data Engineering Bootcamp - Apache Spark 2.x - Pyspark', 88),
 ('PLf0swTFhTI8p2yirPMTUhJ2xzuQhhUTwY', 'Mastering SQL using Postgresql', 82)]