## Read data into Dataframe

Let us read the data into the Dataframe using appropriate arguments.
* We can use `pd.read_csv` to read the data.
* First argument is the file name. As we are processing only one file, we can specify the fully qualified path of the file.
* As delimiter is comma, it is optional to use keyword arguments `sep` or `delimiter`. If the delimter or separator is not comma, then we can sepcify that either using `sep` or `delimiter`.
* The file have a header with column names. The default `infer`, which means it considers the fields names in the first line to define column names in the created Pandas DataFrame.
* If you want to specify different column names to match the target, then we need to pass `header=0` and then pass list of column names to `names` keyword argument. You can use this approach in some cases.

However, at this time just read the data from CSV into Data Frame using names from the header. I would suggest to go through the keyword arguments of `pd.read_csv` by running below cell.

In [ ]:
import pandas as pd
pd.read_csv?

* As our data is having the default delimiter and also header, we just need to pass the file name while invoking `read_csv`.

In [6]:
customers = pd.read_csv('/data/ecomm/customers/part-00000')

In [13]:
customers

,customer_first_name,customer_last_name,customer_email,product_name,product_subscription
0,Cassaundra,Collinson,ccollinson0@alibaba.com,books,yearly
1,Rozamond,Oene,roene1@technorati.com,books,quarterly
2,Gus,Hawick,ghawick2@dagondesign.com,prime video,yearly
3,Delano,Ashbey,dashbey3@purevolume.com,prime shipping,quarterly
4,Fara,Simondson,fsimondson4@umn.edu,prime shipping,monthly
5,Myrilla,Gates,mgates5@sina.com.cn,prime video,yearly
6,Arabela,Tweedlie,atweedlie6@comcast.net,prime video,quarterly
7,Loise,Schindler,lschindler7@discovery.com,prime shipping,monthly
8,Storm,McBrearty,smcbrearty8@ovh.net,prime video,yearly
9,Westley,Matityahu,wmatityahu9@altervista.org,prime shipping,yearly
10,Gerta,Shaughnessy,gshaughnessya@smugmug.com,books,monthly
11,Coretta,Shave,cshaveb@toplist.cz,prime video,monthly
12,Barn,Henkmann,bhenkmannc@people.com.cn,prime video,quarterly
13,Sammy,Desaur,sdesaurd@edublogs.org,books,yearly
14,Joaquin,Skym,jskyme@storify.com,books,monthly
15,Regen,Levitt,rlevittf@pbs.org,prime shipping,yearly
16,Maryjane,Ledley,mledleyg@weather.com,prime shipping,monthly
17,Tiffanie,Dilliway,tdilliwayh@statcounter.com,prime video,quarterly
18,Phineas,Rimmington,primmingtoni@phpbb.com,books,monthly
19,Cinderella,Bordiss,cbordissj@answers.com,prime video,yearly