## Analyze the Dataframe

Let us do some analysis of the Data Frame.
* Get columns
* Get data type of each column
* Get number of records and columns
* Get counts
* Describe Dataframe

In [2]:
import pandas as pd
customers = pd.read_csv('/data/ecomm/customers/part-00000')

In [3]:
# List column names
customers.columns

Index(['customer_first_name', 'customer_last_name', 'customer_email',
       'product_name', 'product_subscription'],
      dtype='object')

In [4]:
# List data types
customers.dtypes

customer_first_name     object
customer_last_name      object
customer_email          object
product_name            object
product_subscription    object
dtype: object

In [5]:
# Get count using shape. It returns tuple.
# First element in the tuple is row count and second element is column count
customers.shape

(20, 5)

In [6]:
row_count = customers.shape[0]

In [7]:
row_count

20

In [8]:
col_count = customers.shape[1]

In [9]:
col_count

5

In [10]:
customers.count()

customer_first_name     20
customer_last_name      20
customer_email          20
product_name            20
product_subscription    20
dtype: int64

In [11]:
customers.describe()

,customer_first_name,customer_last_name,customer_email,product_name,product_subscription
count,20,20,20,20,20
unique,20,20,20,3,3
top,Myrilla,Collinson,tdilliwayh@statcounter.com,prime video,yearly
freq,1,1,1,8,8