## Drop Columns from Dataframe

Let us get the list of not required columns from column mapping and drop them from the Dataframe.
* For each source column we have defined target attribute details.
* **is_required** is one of the target attribute details. If **is_required** is false, then we would like to discard those fields before writing into the target table.
* We need to develop the logic to get list of columns where **is_required** is false.
* We can pass the list to the drop function on top of Dataframe.

In [5]:
import pandas as pd
customers = pd.read_csv('/data/ecomm/customers/part-00000')

In [6]:
column_mapping_str = '''{
    "customer_first_name": {"target_field_name": "FirstName", "is_required": true},
    "customer_last_name": {"target_field_name": "LastName", "is_required": true},
    "customer_email": {"target_field_name": "Email", "is_required": true},
    "product_name": {"is_required": false},
    "product_subscription": {"is_required": false}
}'''

In [7]:
import json
column_mapping = json.loads(column_mapping_str)

In [8]:
# Converts dict to list of tuples
column_mapping.items()

dict_items([('customer_first_name', {'target_field_name': 'FirstName', 'is_required': True}), ('customer_last_name', {'target_field_name': 'LastName', 'is_required': True}), ('customer_email', {'target_field_name': 'Email', 'is_required': True}), ('product_name', {'is_required': False}), ('product_subscription', {'is_required': False})])

In [9]:
# Get first tuple from the list
list(column_mapping.items())[0]

('customer_first_name',
 {'target_field_name': 'FirstName', 'is_required': True})

In [10]:
# Assigning first tuple to a variable
col = list(column_mapping.items())[0]

In [11]:
# Getting second element from the tuple
# This will return target attribute details
# It is of type dict
col[1]

{'target_field_name': 'FirstName', 'is_required': True}

In [32]:
# Getting the value of is_required from the dict
col[1]['is_required']

True

In [12]:
# Same process for 5th element in the list of tuples
list(column_mapping.items())[4] # Picking 5th element in the list

('product_subscription', {'is_required': False})

In [78]:
col = list(column_mapping.items())[4]

In [79]:
col[1]

{'is_required': False}

In [80]:
col[1]['is_required']

False

In [42]:
not col[1]['is_required']

True

In [13]:
# Returns list of items where is_required is false
list(filter(lambda col: not col[1]['is_required'], column_mapping.items()))

[('product_name', {'is_required': False}),
 ('product_subscription', {'is_required': False})]

In [14]:
# Convert to a dict
dict(list(filter(lambda col: not col[1]['is_required'], column_mapping.items())))

{'product_name': {'is_required': False},
 'product_subscription': {'is_required': False}}

In [15]:
# Get list of not required fields
dict(list(filter(lambda col: not col[1]['is_required'], column_mapping.items()))).keys()

dict_keys(['product_name', 'product_subscription'])

In [18]:
# Assigning the list of not required fields to a variable
columns_to_be_dropped = dict(list(filter(lambda col: not col[1]['is_required'], column_mapping.items()))).keys()

* You can use drop on dataframe to drop the columns. You can pass the names using `columns` keyword argument.

In [19]:
customers.drop?

Signature:
customers.drop(
    labels=None,
    axis=0,
    index=None,
    columns=None,
    level=None,
    inplace=False,
    errors='raise',
)
Docstring:
Drop specified labels from rows or columns.

Remove rows or columns by specifying label names and corresponding
axis, or by specifying directly index or column names. When using a
multi-index, labels on different levels can be removed by specifying
the level.

Parameters
----------
labels : single label or list-like
    Index or column labels to drop.
axis : {0 or 'index', 1 or 'columns'}, default 0
    Whether to drop labels from the index (0 or 'index') or
    columns (1 or 'columns').
index : single label or list-like
    Alternative to specifying axis (``labels, axis=0``
    is equivalent to ``index=labels``).
columns : single label or list-like
    Alternative to specifying axis (``labels, axis=1``
    is equivalent to ``columns=labels``).
level : int or level name, optional
    For MultiIndex, level from which the labels will be removed.
inplace : bool, default False
    If False, return a copy. Otherwise, do operation
    inplace and return None.
errors : {'ignore', 'raise'}, default 'raise'
    If 'ignore', suppress error and only existing labels are
    dropped.

Returns
-------
DataFrame or None
    DataFrame without the removed index or column labels or
    None if ``inplace=True``.

Raises
------
KeyError
    If any of the labels is not found in the selected axis.

See Also
--------
DataFrame.loc : Label-location based indexer for selection by label.
DataFrame.dropna : Return DataFrame with labels on given axis omitted
    where (all or any) data are missing.
DataFrame.drop_duplicates : Return DataFrame with duplicate rows
    removed, optionally only considering certain columns.
Series.drop : Return Series with specified index labels removed.

Examples
--------
>>> df = pd.DataFrame(np.arange(12).reshape(3, 4),
...                   columns=['A', 'B', 'C', 'D'])
>>> df
   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

Drop columns

>>> df.drop(['B', 'C'], axis=1)
   A   D
0  0   3
1  4   7
2  8  11

>>> df.drop(columns=['B', 'C'])
   A   D
0  0   3
1  4   7
2  8  11

Drop a row by index

>>> df.drop([0, 1])
   A  B   C   D
2  8  9  10  11

Drop columns and/or rows of MultiIndex DataFrame

>>> midx = pd.MultiIndex(levels=[['lama', 'cow', 'falcon'],
...                              ['speed', 'weight', 'length']],
...                      codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2],
...                             [0, 1, 2, 0, 1, 2, 0, 1, 2]])
>>> df = pd.DataFrame(index=midx, columns=['big', 'small'],
...                   data=[[45, 30], [200, 100], [1.5, 1], [30, 20],
...                         [250, 150], [1.5, 0.8], [320, 250],
...                         [1, 0.8], [0.3, 0.2]])
>>> df
                big     small
lama    speed   45.0    30.0
        weight  200.0   100.0
        length  1.5     1.0
cow     speed   30.0    20.0
        weight  250.0   150.0
        length  1.5     0.8
falcon  speed   320.0   250.0
        weight  1.0     0.8
        length  0.3     0.2

>>> df.drop(index='cow', columns='small')
                big
lama    speed   45.0
        weight  200.0
        length  1.5
falcon  speed   320.0
        weight  1.0
        length  0.3

>>> df.drop(index='length', level=1)
                big     small
lama    speed   45.0    30.0
        weight  200.0   100.0
cow     speed   30.0    20.0
        weight  250.0   150.0
falcon  speed   320.0   250.0
        weight  1.0     0.8
File:      /opt/anaconda3/envs/beakerx/lib/python3.7/site-packages/pandas/core/frame.py
Type:      method

In [20]:
# Returns dataframe by dropping the not required fields
customers.drop(columns=columns_to_be_dropped)

   customer_first_name customer_last_name              customer_email
0           Cassaundra          Collinson     ccollinson0@alibaba.com
1             Rozamond               Oene       roene1@technorati.com
2                  Gus             Hawick    ghawick2@dagondesign.com
3               Delano             Ashbey     dashbey3@purevolume.com
4                 Fara          Simondson         fsimondson4@umn.edu
5              Myrilla              Gates         mgates5@sina.com.cn
6              Arabela           Tweedlie      atweedlie6@comcast.net
7                Loise          Schindler   lschindler7@discovery.com
8                Storm          McBrearty         smcbrearty8@ovh.net
9              Westley          Matityahu  wmatityahu9@altervista.org
10               Gerta        Shaughnessy   gshaughnessya@smugmug.com
11             Coretta              Shave          cshaveb@toplist.cz
12                Barn           Henkmann    bhenkmannc@people.com.cn
13               Sammy             Desaur       sdesaurd@edublogs.org
14             Joaquin               Skym          jskyme@storify.com
15               Regen             Levitt            rlevittf@pbs.org
16            Maryjane             Ledley        mledleyg@weather.com
17            Tiffanie           Dilliway  tdilliwayh@statcounter.com
18             Phineas         Rimmington      primmingtoni@phpbb.com
19          Cinderella            Bordiss       cbordissj@answers.com