## Get Top Student by Total Score

Develop a function to get the top student by total score. This is primarily to test the ability to manipulate collections, sort the data and get the ranks.
* We will provide list of tuples with student id followed by scores for different subjects.
* Develop a function which takes students as input and return the topper with highest total score.

**Restrictions: Solve this problem either by using conventional loops or first class functions such as `map`. You are not supposed to use Pandas.**

In [1]:
students = [(1, 72, 72, 74), (2, 69, 90, 88), (3, 90, 95, 93), (4, 47, 47, 44), (5, 76, 78, 75), (6, 71, 83, 78)]

### Step 1: Preview the data

Let us first preview the data.

In [2]:
students

[(1, 72, 72, 74),
 (2, 69, 90, 88),
 (3, 90, 95, 93),
 (4, 47, 47, 44),
 (5, 76, 78, 75),
 (6, 71, 83, 78)]

In [3]:
type(students)

list

In [4]:
len(students)

6

### Step 2: Provide the solution

Now come up with the solution by developing the required logic. Once the function is developed, go to the next step to take care of the validation.

In [16]:
def get_topper_by_total_score(students):
    topper_by_total_score = sorted(map(lambda x:(x[0], sum(x[0:])), students), key=lambda x:-x[1])[0][0]
    return topper_by_total_score

### Step 3: Validate the function

Let us validate the function by running below cells.
* The student id with highest total score is **3**.

In [17]:
topper_by_total_score = get_topper_by_total_score(students)
topper_by_total_score

3

In [18]:
type(topper_by_total_score) # int

int