## Querying Data From Table

Let us understand how to build queries to get the data from the table. 
* We should leverage database capacity to filter as much data as possible (rather than fetching data into application layer and then filtering).
> To follow the above pattern one need to have decent skills related to Databases and SQL. Feel free to **Master SQL using Postgresql** as target database using [this course](https://postgresql.itversity.com) or [playlist](https://www.youtube.com/playlist?list=PLf0swTFhTI8p2yirPMTUhJ2xzuQhhUTwY)
* We should avoid hard coding while filtering the data.```{note}
Resetting users table to have 6 records.
```

In [ ]:
%run 06_creating_database_table.ipynb

In [ ]:
%run 07_inserting_data_into_table.ipynb

In [ ]:
%run 05_function_get_database_connection.ipynb

In [ ]:
cursor = sms_connection.cursor()

query = """
    SELECT * FROM users LIMIT 5
"""

cursor.execute(query)

for user in cursor:
    print(user)

sms_connection.close()

```{note}
Here is how we can filter data based up on user id. As user_id is primary key in the table, we typically use `cursor.fetchone` to fetch the one record as object.
```

In [1]:
%run 05_function_get_database_connection.ipynb

In [2]:
cursor = sms_connection.cursor()

query = """
    SELECT * FROM users 
    WHERE user_id = %s 
"""

cursor.execute(query, (1,))

user = cursor.fetchone()

In [3]:
type(user)

tuple

In [4]:
print(user)

(1, 'Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', False, None, 'A', False, datetime.date(2020, 1, 10))

```{note}
Getting column names using the cursor after executing the query
```

In [5]:
cursor.description

(Column(name='user_id', type_code=23),
 Column(name='first_name', type_code=1043),
 Column(name='last_name', type_code=1043),
 Column(name='email_id', type_code=1043),
 Column(name='user_email_validated', type_code=16),
 Column(name='user_password', type_code=1043),
 Column(name='user_role', type_code=1043),
 Column(name='is_active', type_code=16),
 Column(name='created_dt', type_code=1082))

In [6]:
def get_user_details(connection, user_id):
    cursor = connection.cursor()
    query = """
        SELECT * FROM users 
        WHERE user_id = %s 
    """
    cursor.execute(query, (user_id,))
    return cursor.fetchone()

In [7]:
user = get_user_details(sms_connection, 1)
print(user)

(1, 'Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', False, None, 'A', False, datetime.date(2020, 1, 10))

In [8]:
type(user)

tuple

In [9]:
user = get_user_details(sms_connection, 2)
print(user)

(2, 'Tobe', 'Lyness', 'tlyness1@paginegialle.it', False, None, 'U', False, datetime.date(2020, 2, 10))

In [10]:
sms_connection.close()

```{note}
Here is an example where the function will return `dict` type object.
```

In [11]:
%run 05_function_get_database_connection.ipynb

In [12]:
import psycopg2
from psycopg2.extras import DictCursor

def get_user_details(connection, user_id):
    cursor = connection.cursor(cursor_factory=DictCursor)
    query = """
        SELECT * FROM users 
        WHERE user_id = %s 
    """
    cursor.execute(query, (user_id,))
    return cursor.fetchone()

In [13]:
user = get_user_details(sms_connection, 1)
print(user)

[1, 'Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', False, None, 'A', False, datetime.date(2020, 1, 10)]

In [14]:
type(user)

psycopg2.extras.DictRow

In [15]:
user['user_id']

1

In [17]:
user['email_id']

'gbradock0@barnesandnoble.com'

In [18]:
sms_connection.close()

```{note}
Here is an example of a query which returns multiple records. We need to use `fetchall` or `fetchmany` to return the records as list of tuples or objects.
```

In [25]:
%run 05_function_get_database_connection.ipynb

In [26]:
cursor = sms_connection.cursor()

In [27]:
query = """
    SELECT user_id, email_id, user_password
    FROM users
    WHERE user_password IS NULL
"""

In [28]:
cursor.execute(query)

In [29]:
users = cursor.fetchall()

In [30]:
type(users)

list

In [31]:
for user in users:
    print(user)

(1, 'gbradock0@barnesandnoble.com', None)
(2, 'tlyness1@paginegialle.it', None)
(3, 'amesias2@twitpic.com', None)
(4, 'ckohrsen3@buzzfeed.com', None)
(5, 'dhalsall4@intel.com', None)

In [32]:
type(users[0])

tuple

In [33]:
from psycopg2.extras import DictCursor

In [34]:
cursor = sms_connection.cursor(cursor_factory=DictCursor)

In [35]:
cursor.execute(query)

In [36]:
users = cursor.fetchall()

In [37]:
type(users)

list

In [38]:
for user in users:
    print(user)

[1, 'gbradock0@barnesandnoble.com', None]
[2, 'tlyness1@paginegialle.it', None]
[3, 'amesias2@twitpic.com', None]
[4, 'ckohrsen3@buzzfeed.com', None]
[5, 'dhalsall4@intel.com', None]

In [39]:
type(users[0])

psycopg2.extras.DictRow

In [41]:
users[0]['email_id']

'gbradock0@barnesandnoble.com'

In [ ]:
sms_connection.close()