## Write to JSON files using pandas

Let us understand how to write to JSON files using `pandas` module.
* We can use `to_json` to write to JSON file using `pandas`.

In [1]:
import pandas as pd

In [2]:
courses = [{'course_name': 'Programming using Python',
  'course_author': 'Bob Dillon',
  'course_status': 'published',
  'course_published_dt': '2020-09-30'},
 {'course_name': 'Data Engineering using Python',
  'course_author': 'Bob Dillon',
  'course_status': 'published',
  'course_published_dt': '2020-07-15'}]

In [3]:
df = pd.DataFrame(courses)

In [4]:
df

,course_name,course_author,course_status,course_published_dt
0,Programming using Python,Bob Dillon,published,2020-09-30
1,Data Engineering using Python,Bob Dillon,published,2020-07-15

In [ ]:
df.to_json?

* Dumping a JSON documents into a file with one JSON document per line.

In [5]:
courses = [{'course_name': 'Programming using Python',
  'course_author': 'Bob Dillon',
  'course_status': 'published',
  'course_published_dt': '2020-09-30'},
 {'course_name': 'Data Engineering using Python',
  'course_author': 'Bob Dillon',
  'course_status': 'published',
  'course_published_dt': '2020-07-15'},
 {'course_name': 'Data Engineering using Scala',
  'course_author': 'Elvis Presley',
  'course_status': 'draft',
  'course_published_dt': None},
 {'course_name': 'Programming using Scala',
  'course_author': 'Elvis Presley',
  'course_status': 'published',
  'course_published_dt': '2020-05-12'},
 {'course_name': 'Programming using Java',
  'course_author': 'Mike Jack',
  'course_status': 'inactive',
  'course_published_dt': '2020-08-10'},
 {'course_name': 'Web Applications - Python Flask',
  'course_author': 'Bob Dillon',
  'course_status': 'inactive',
  'course_published_dt': '2020-07-20'},
 {'course_name': 'Web Applications - Java Spring',
  'course_author': 'Mike Jack',
  'course_status': 'draft',
  'course_published_dt': None},
 {'course_name': 'Pipeline Orchestration - Python',
  'course_author': 'Bob Dillon',
  'course_status': 'draft',
  'course_published_dt': None},
 {'course_name': 'Streaming Pipelines - Python',
  'course_author': 'Bob Dillon',
  'course_status': 'published',
  'course_published_dt': '2020-10-05'},
 {'course_name': 'Web Applications - Scala Play',
  'course_author': 'Elvis Presley',
  'course_status': 'inactive',
  'course_published_dt': '2020-09-30'},
 {'course_name': 'Web Applications - Python Django',
  'course_author': 'Bob Dillon',
  'course_status': 'published',
  'course_published_dt': '2020-06-23'},
 {'course_name': 'Server Automation - Ansible',
  'course_author': 'Uncle Sam',
  'course_status': 'published',
  'course_published_dt': '2020-07-05'}]

In [ ]:
!rm data/courses/courses.json

In [6]:
import pandas as pd

In [7]:
courses_df = pd.DataFrame(courses)

In [8]:
courses_df

,course_name,course_author,course_status,course_published_dt
0,Programming using Python,Bob Dillon,published,2020-09-30
1,Data Engineering using Python,Bob Dillon,published,2020-07-15
2,Data Engineering using Scala,Elvis Presley,draft,None
3,Programming using Scala,Elvis Presley,published,2020-05-12
4,Programming using Java,Mike Jack,inactive,2020-08-10
5,Web Applications - Python Flask,Bob Dillon,inactive,2020-07-20
6,Web Applications - Java Spring,Mike Jack,draft,None
7,Pipeline Orchestration - Python,Bob Dillon,draft,None
8,Streaming Pipelines - Python,Bob Dillon,published,2020-10-05
9,Web Applications - Scala Play,Elvis Presley,inactive,2020-09-30
10,Web Applications - Python Django,Bob Dillon,published,2020-06-23
11,Server Automation - Ansible,Uncle Sam,published,2020-07-05

In [9]:
courses_df.to_json('data/courses/courses.json', orient='records', lines=True)

In [ ]:
!ls -ltr data/courses/courses.json

In [ ]:
!cat data/courses/courses.json

* We can also write Pandas dataframe to json file with orient split.

In [10]:
courses_df

,course_name,course_author,course_status,course_published_dt
0,Programming using Python,Bob Dillon,published,2020-09-30
1,Data Engineering using Python,Bob Dillon,published,2020-07-15
2,Data Engineering using Scala,Elvis Presley,draft,None
3,Programming using Scala,Elvis Presley,published,2020-05-12
4,Programming using Java,Mike Jack,inactive,2020-08-10
5,Web Applications - Python Flask,Bob Dillon,inactive,2020-07-20
6,Web Applications - Java Spring,Mike Jack,draft,None
7,Pipeline Orchestration - Python,Bob Dillon,draft,None
8,Streaming Pipelines - Python,Bob Dillon,published,2020-10-05
9,Web Applications - Scala Play,Elvis Presley,inactive,2020-09-30
10,Web Applications - Python Django,Bob Dillon,published,2020-06-23
11,Server Automation - Ansible,Uncle Sam,published,2020-07-05

In [ ]:
courses_df.to_json('data/courses/courses.json', orient='split')

In [ ]:
!ls -ltr data/courses/courses.json

In [ ]:
!cat data/courses/courses.json

* We can also write Pandas dataframe to json file with orient records. It will generate string with valid JSON array.

In [ ]:
courses_df.to_json('data/courses/courses.json', orient='records')

In [ ]:
!ls -ltr data/courses/courses.json

In [ ]:
!cat data/courses/courses.json