## Set up retail_db tables

Let us set up retail_db tables for the assessments. This notebook will be executed from other notebooks that are part of the assessment scenarios.

In [1]:
%run 00_set_up_variables_for_db_connectivity.ipynb

In [2]:
%load_ext sql

In [3]:
%env DATABASE_URL=postgresql://{username}_sms_user:{password}@{postgres_host}:{postgres_port}/{username}_sms_db

env: DATABASE_URL=postgresql://itversity_sms_user:Itv3rs1ty!23@m01.itversity.com:5433/itversity_sms_db

In [6]:
%%sql

SELECT len('Hello')

 * postgresql://itversity_sms_user:***@m01.itversity.com:5433/itversity_sms_db
(psycopg2.errors.UndefinedFunction) function len(unknown) does not exist
LINE 1: SELECT len('Hello')
               ^
HINT:  No function matches the given name and argument types. You might need to add explicit type casts.

[SQL: SELECT len('Hello')]
(Background on this error at: http://sqlalche.me/e/14/f405)

In [7]:
%%sql

SELECT length('Hello')

 * postgresql://itversity_sms_user:***@m01.itversity.com:5433/itversity_sms_db
1 rows affected.

[(5,)]

In [ ]:
%%sql

DROP TABLE departments;
DROP TABLE categories;
DROP TABLE products;
DROP TABLE customers;
DROP TABLE orders;
DROP TABLE order_items;

In [ ]:
%%sql

-- Postgres Table Creation Script
--

--
-- Table structure for table departments
--

CREATE TABLE departments (
  department_id INT NOT NULL,
  department_name VARCHAR(45) NOT NULL,
  PRIMARY KEY (department_id)
);

--
-- Table structure for table categories
--

CREATE TABLE categories (
  category_id INT NOT NULL,
  category_department_id INT NOT NULL,
  category_name VARCHAR(45) NOT NULL,
  PRIMARY KEY (category_id)
);

--
-- Table structure for table products
--

CREATE TABLE products (
  product_id INT NOT NULL,
  product_category_id INT NOT NULL,
  product_name VARCHAR(45) NOT NULL,
  product_description VARCHAR(255) NOT NULL,
  product_price FLOAT NOT NULL,
  product_image VARCHAR(255) NOT NULL,
  PRIMARY KEY (product_id)
);

--
-- Table structure for table customers
--

CREATE TABLE customers (
  customer_id INT NOT NULL,
  customer_fname VARCHAR(45) NOT NULL,
  customer_lname VARCHAR(45) NOT NULL,
  customer_email VARCHAR(45) NOT NULL,
  customer_password VARCHAR(45) NOT NULL,
  customer_street VARCHAR(255) NOT NULL,
  customer_city VARCHAR(45) NOT NULL,
  customer_state VARCHAR(45) NOT NULL,
  customer_zipcode VARCHAR(45) NOT NULL,
  PRIMARY KEY (customer_id)
);

--
-- Table structure for table orders
--

CREATE TABLE orders (
  order_id INT NOT NULL,
  order_date TIMESTAMP NOT NULL,
  order_customer_id INT NOT NULL,
  order_status VARCHAR(45) NOT NULL,
  PRIMARY KEY (order_id)
);

--
-- Table structure for table order_items
--

CREATE TABLE order_items (
  order_item_id INT NOT NULL,
  order_item_order_id INT NOT NULL,
  order_item_product_id INT NOT NULL,
  order_item_quantity INT NOT NULL,
  order_item_subtotal FLOAT NOT NULL,
  order_item_product_price FLOAT NOT NULL,
  PRIMARY KEY (order_item_id)
);

In [3]:
import psycopg2
import sqlalchemy as db
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

engine = db.create_engine(f'postgresql://{username}_sms_user:{password}@{postgres_host}:{postgres_port}/{username}_sms_db')

In [ ]:
statements = open('/data/retail_db/load_db_tables_pg.sql').read().splitlines()

In [ ]:
statements_no_empty = list(filter(lambda stmt: stmt != '', statements))

In [ ]:
for statement in statements_no_empty:
    engine.execute(db.text(statement))

In [4]:
help(engine.execute)

Help on method execute in module sqlalchemy.engine.base:

execute(statement, *multiparams, **params) method of sqlalchemy.engine.base.Engine instance
    Executes the given construct and returns a
    :class:`_engine.CursorResult`.

    .. deprecated:: 1.4 The :meth:`_engine.Engine.execute` method is considered legacy as of the 1.x series of SQLAlchemy and will be removed in 2.0. All statement execution in SQLAlchemy 2.0 is performed by the :meth:`_engine.Connection.execute` method of :class:`_engine.Connection`, or in the ORM by the :meth:`.Session.execute` method of :class:`.Session`. (Background on SQLAlchemy 2.0 at: :ref:`migration_20_toplevel`)

    The arguments are the same as those used by
    :meth:`_engine.Connection.execute`.

    Here, a :class:`_engine.Connection` is acquired using the
    :meth:`_engine.Engine.connect` method, and the statement executed
    with that connection. The returned :class:`_engine.CursorResult`
    is flagged
    such that when the :class:`_engine.CursorResult` is exhausted and its
    underlying cursor is closed, the :class:`_engine.Connection`
    created here
    will also be closed, which allows its associated DBAPI connection
    resource to be returned to the connection pool.