In [1]:
%run 00_setup_database_variables.ipynb

In [2]:
%load_ext sql

In [3]:
%env DATABASE_URL=postgresql://deepan:DB_PASSWORD@localhost:5432/sms_db

env: DATABASE_URL=postgresql://itversity_sms_user:Itv3rs1ty!23@m01.itversity.com:5433/itversity_sms_db

In [4]:
%%sql

TRUNCATE TABLE stations

Done.

[]

In [5]:
%%sql

TRUNCATE TABLE station_rental_types

 * postgresql://itversity_sms_user:***@m01.itversity.com:5433/itversity_sms_db
Done.

[]

In [6]:
%%sql

COMMIT

 * postgresql://itversity_sms_user:***@m01.itversity.com:5433/itversity_sms_db
Done.

[]

In [7]:
%%sql

SELECT * FROM station_rental_types

 * postgresql://itversity_sms_user:***@m01.itversity.com:5433/itversity_sms_db
0 rows affected.

[]

In [8]:
import requests
import pandas as pd
def read_from_rest_api(url):
    content_dict = requests.get(url).json()
    df = pd.json_normalize(content_dict, ['data', 'stations'])
    return df

In [9]:
import psycopg2
def get_pg_connection(host, port, database, user, password):
    connection = None
    try:
        connection = psycopg2.connect(
            host=host,
            port=port,
            database=database,
            user=user,
            password=password
        )
    except Exception as e:
        raise(e)
    
    return connection

In [10]:
def load_df_to_table(conn, df, table_name):
    cursor = connection.cursor()
    data = [tuple(value) for value in df.values]
    columns = ', '.join(df.columns)
    values_clause = ', '.join(['%s'] * len(df.columns))
    query = f"""
        INSERT INTO 
        {table_name} ({columns})
        VALUES ({values_clause})
        """
    cursor.executemany(query, data)
    connection.commit()
    cursor.close()

In [11]:
url = "https://gbfs.citibikenyc.com/gbfs/en/station_information.json"
df = read_from_rest_api(url)

stations_df = df[['station_id',
'station_type',
'name',
'short_name',
'capacity',
'external_id',
'has_kiosk',
'legacy_id',
'region_id',
'electric_bike_surcharge_waiver']]

station_rental_types_df = df[['station_id', 'rental_methods']]. \
    explode('rental_methods'). \
    rename(columns={'rental_methods': 'rental_type'})

connection = get_pg_connection(
    host=postgres_host,
    port=postgres_port,
    database=f'{username}_sms_db',
    user=f'{username}_sms_user',
    password=password
)

load_df_to_table(connection, stations_df, 'stations')
load_df_to_table(connection, station_rental_types_df, 'station_rental_types')

In [12]:
%%sql

SELECT * FROM stations LIMIT 5

 * postgresql://itversity_sms_user:***@m01.itversity.com:5433/itversity_sms_db
5 rows affected.

[(1566, 72, 'classic', 'W 52 St & 11 Ave', '6926.01', '55', '66db237e-0aca-11e7-82f6-3863bb44ef7c', 'true', '72', '71', 'false', None),
 (1567, 79, 'classic', 'Franklin St & W Broadway', '5430.08', '33', '66db269c-0aca-11e7-82f6-3863bb44ef7c', 'true', '79', '71', 'false', None),
 (1568, 82, 'classic', 'St James Pl & Pearl St', '5167.06', '27', '66db277a-0aca-11e7-82f6-3863bb44ef7c', 'true', '82', '71', 'false', None),
 (1569, 83, 'classic', 'Atlantic Ave & Fort Greene Pl', '4354.07', '62', '66db281e-0aca-11e7-82f6-3863bb44ef7c', 'true', '83', '71', 'false', None),
 (1570, 116, 'classic', 'W 17 St & 8 Ave', '6148.02', '50', '66db28b5-0aca-11e7-82f6-3863bb44ef7c', 'true', '116', '71', 'false', None)]

In [13]:
%%sql

SELECT * FROM station_rental_types LIMIT 5

 * postgresql://itversity_sms_user:***@m01.itversity.com:5433/itversity_sms_db
5 rows affected.

[(3163, 72, 'KEY'),
 (3164, 72, 'CREDITCARD'),
 (3165, 79, 'KEY'),
 (3166, 79, 'CREDITCARD'),
 (3167, 82, 'KEY')]