## Exercise 2 - Create Table for Courses

Create table - **courses**
* course_id - sequence generated integer and primary key
* course_name - which holds alpha numeric or string values up to 60 characters
* course_author - which holds the name of the author up to 40 characters
* course_status - which holds one of these values (published, draft, inactive). 
* course_published_dt - which holds date type value.

In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://deepan:DB_PASSWORD@localhost:5432/sms_db

env: DATABASE_URL=postgresql://deepan:DB_PASSWORD@localhost:5432/sms_db

In [3]:
%%sql 

SELECT * FROM information_schema.tables 
WHERE table_catalog = 'sms_db' AND table_schema = 'public'
LIMIT 10

4 rows affected.

[('sms_db', 'public', 'stations', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('sms_db', 'public', 'station_rental_types', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('sms_db', 'public', 'users', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('sms_db', 'public', 'courses', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)]

In [4]:
%sql DROP TABLE IF EXISTS courses

 * postgresql://deepan:***@localhost:5432/sms_db
Done.

[]

* Develop the create table statement to create the table.

In [6]:
%%sql

CREATE TABLE courses(
    course_id SERIAL PRIMARY KEY, 
    course_name VARCHAR(60),
    course_author varchar(40),
    course_status VARCHAR CHECK (course_status IN ('published','draft','inactive')),
    course_published_dt DATE
    )

 * postgresql://deepan:***@localhost:5432/sms_db
Done.

[]

* Validate by running query here

In [7]:
%%sql 

SELECT * FROM information_schema.tables 
WHERE table_catalog = 'sms_db' AND table_schema = 'public'
LIMIT 10

 * postgresql://deepan:***@localhost:5432/sms_db
4 rows affected.

[('sms_db', 'public', 'stations', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('sms_db', 'public', 'station_rental_types', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('sms_db', 'public', 'courses', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('sms_db', 'public', 'users', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)]