## Reading Data from File

Let us read both orders as well as order_items data set from files into Pandas Data Frame.
* Both the files does not have header and hence we need to pass the schema while creating data frames.

In [ ]:
# !ls -ltr /data/retail_db/orders/part-00000

In [ ]:
# !head /data/retail_db/orders/part-00000

In [1]:
import pandas as pd
def get_df(path, schema):
    df = pd.read_csv(
        path,
        header=None,
        names=schema
    )
    return df

In [4]:
import os

os.chdir("D:/BIGDATA_LEARN/bigdata-learn/")

In [6]:
orders_path = "./data/retail_db/orders/part-00000"
orders_schema = [
    "order_id",
    "order_date",
    "order_customer_id",
    "order_status"
]
orders = get_df(orders_path, orders_schema)

In [7]:
type(orders)

pandas.core.frame.DataFrame

In [8]:
orders.head(3)

   order_id             order_date  order_customer_id     order_status
0         1  2013-07-25 00:00:00.0              11599           CLOSED
1         2  2013-07-25 00:00:00.0                256  PENDING_PAYMENT
2         3  2013-07-25 00:00:00.0              12111         COMPLETE

```{note}
When it comes to loading data into database using `cursor.executemany`, we need to pass data as list of tuples or list of lists (not as Pandas Dataframe). We can use `orders.values.tolist()` to convert records in the Pandas Dataframe to list of lists.
```

In [9]:
orders.values.tolist()[:3]

[[1, '2013-07-25 00:00:00.0', 11599, 'CLOSED'],
 [2, '2013-07-25 00:00:00.0', 256, 'PENDING_PAYMENT'],
 [3, '2013-07-25 00:00:00.0', 12111, 'COMPLETE']]

In [10]:
type(orders.values.tolist())

list

In [11]:
type(orders.values.tolist()[2])

list

In [12]:
order_items_path = "./data/retail_db/order_items/part-00000"
order_items_schema = [
    "order_item_id",
    "order_item_order_id",
    "order_item_product_id",
    "order_item_quantity",
    "order_item_subtotal",
    "order_item_product_price"
]
order_items = get_df(order_items_path, order_items_schema)

In [13]:
order_items.head(3)

,order_item_id,order_item_order_id,order_item_product_id,order_item_quantity,order_item_subtotal,order_item_product_price
0,1,1,957,1,299.98,299.98
1,2,2,1073,1,199.99,199.99
2,3,2,502,5,250.00,50.00