In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://deepan:DB_PASSWORD@localhost/itversity_retail_db

env: DATABASE_URL=postgresql://deepan:DB_PASSWORD@localhost/itversity_retail_db

In [3]:
%%sql 

SELECT * FROM orders FETCH FIRST 5 ROW ONLY;

5 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 11599, 'CLOSED'),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 256, 'PENDING_PAYMENT'),
 (3, datetime.datetime(2013, 7, 25, 0, 0), 12111, 'COMPLETE'),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 8827, 'CLOSED'),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 11318, 'COMPLETE')]

In [4]:
%%sql 

SELECT * FROM orders OFFSET 4 ROWS FETCH NEXT 5 ROW ONLY;

 * postgresql://deepan:***@localhost/itversity_retail_db
5 rows affected.

[(5, datetime.datetime(2013, 7, 25, 0, 0), 11318, 'COMPLETE'),
 (6, datetime.datetime(2013, 7, 25, 0, 0), 7130, 'COMPLETE'),
 (7, datetime.datetime(2013, 7, 25, 0, 0), 4530, 'COMPLETE'),
 (8, datetime.datetime(2013, 7, 25, 0, 0), 2911, 'PROCESSING'),
 (9, datetime.datetime(2013, 7, 25, 0, 0), 5657, 'PENDING_PAYMENT')]

In [5]:
%%sql 

SELECT * FROM products LIMIT 1;

 * postgresql://deepan:***@localhost/itversity_retail_db
1 rows affected.

[(1, 2, 'Quest Q64 10 FT. x 10 FT. Slant Leg Instant U', '', 59.98, 'http://images.acmesports.sports/Quest+Q64+10+FT.+x+10+FT.+Slant+Leg+Instant+Up+Canopy')]

In [6]:
%%sql 

SELECT * FROM categories LIMIT 1;

 * postgresql://deepan:***@localhost/itversity_retail_db
1 rows affected.

[(1, 2, 'Football')]

In [7]:
%%sql 

SELECT a.*, product_name FROM (
    SELECT category_id, category_name, max(product_price) FROM categories c 
    inner JOIN products p ON c.category_id=p.product_category_id 
    GROUP BY category_id ORDER BY category_id LIMIT 5
) a LEFT JOIN products p on a.category_id=p.product_category_id and a.max=p.product_price

 * postgresql://deepan:***@localhost/itversity_retail_db
5 rows affected.

[(2, 'Soccer', 299.99, 'Riddell Youth 360 Custom Football Helmet'),
 (3, 'Baseball & Softball', 199.99, 'Quik Shade Summit SX170 10 FT. x 10 FT. Canop'),
 (4, 'Basketball', 1799.99, 'SOLE F85 Treadmill'),
 (5, 'Lacrosse', 499.99, 'Goaliath 54" In-Ground Basketball Hoop with P'),
 (6, 'Tennis & Racquet', 399.99, 'YETI Tundra 65 Chest Cooler')]

In [8]:
%%sql 

SELECT category_id, category_name, max(product_price) FROM categories c 
inner JOIN products p ON c.category_id=p.product_category_id 
GROUP BY category_id ORDER BY category_id LIMIT 5;

 * postgresql://deepan:***@localhost/itversity_retail_db
5 rows affected.

[(2, 'Soccer', 299.99),
 (3, 'Baseball & Softball', 199.99),
 (4, 'Basketball', 1799.99),
 (5, 'Lacrosse', 499.99),
 (6, 'Tennis & Racquet', 399.99)]

In [9]:
%%sql 

SELECT count(1) FROM products;

 * postgresql://deepan:***@localhost/itversity_retail_db
1 rows affected.

[(1345,)]

In [10]:
%%sql 

-- gives products where the price is greater than or equal to max of any categoty

SELECT category_name, product_name, product_price from categories c INNER JOIN products p 
ON c.category_id=p.product_category_id 
WHERE product_price >= ANY(SELECT max(product_price) FROM categories c 
    inner JOIN products p ON c.category_id=p.product_category_id 
    GROUP BY category_id ORDER BY category_id
) LIMIT 5;

 * postgresql://deepan:***@localhost/itversity_retail_db
5 rows affected.

[('Soccer', 'Quest Q64 10 FT. x 10 FT. Slant Leg Instant U', 59.98),
 ('Soccer', "Under Armour Men's Highlight MC Football Clea", 129.99),
 ('Soccer', "Under Armour Men's Renegade D Mid Football Cl", 89.99),
 ('Soccer', "Under Armour Men's Renegade D Mid Football Cl", 89.99),
 ('Soccer', 'Riddell Youth Revolution Speed Custom Footbal', 199.99)]

In [11]:
%%sql 

SELECT category_id, category_name, avg(product_price) FROM categories c 
inner JOIN products p ON c.category_id=p.product_category_id 
GROUP BY category_id ORDER BY category_id LIMIT 5;

 * postgresql://deepan:***@localhost/itversity_retail_db
5 rows affected.

[(2, 'Soccer', 118.11416666666662),
 (3, 'Baseball & Softball', 79.95083333333334),
 (4, 'Basketball', 260.36041666666665),
 (5, 'Lacrosse', 127.86458333333333),
 (6, 'Tennis & Racquet', 84.15583333333335)]

In [12]:

%%sql 

SELECT avg(product_price), c.category_id FROM products p, categories c
    WHERE p.product_category_id=c.category_id
    GROUP BY c.category_id
    ORDER by category_id LIMIT 5

 * postgresql://deepan:***@localhost/itversity_retail_db
5 rows affected.

[(118.11416666666662, 2),
 (79.95083333333334, 3),
 (260.36041666666665, 4),
 (127.86458333333333, 5),
 (84.15583333333335, 6)]

In [13]:
%%sql 

SELECT * FROM products WHERE product_category_id = 3

 * postgresql://deepan:***@localhost/itversity_retail_db
24 rows affected.

[(25, 3, 'Quest Q64 10 FT. x 10 FT. Slant Leg Instant U', '', 59.98, 'http://images.acmesports.sports/Quest+Q64+10+FT.+x+10+FT.+Slant+Leg+Instant+Up+Canopy'),
 (26, 3, "Nike Men's USA White Home Stadium Soccer Jers", '', 90.0, 'http://images.acmesports.sports/Nike+Men%27s+USA+White+Home+Stadium+Soccer+Jersey'),
 (27, 3, 'Nike Youth USA Away Stadium Replica Soccer Je', '', 75.0, 'http://images.acmesports.sports/Nike+Youth+USA+Away+Stadium+Replica+Soccer+Jersey'),
 (28, 3, 'adidas Brazuca 2014 Top Glider Soccer Ball', '', 29.99, 'http://images.acmesports.sports/adidas+Brazuca+2014+Top+Glider+Soccer+Ball'),
 (29, 3, "Nike Men's USA Away Stadium Replica Soccer Je", '', 90.0, 'http://images.acmesports.sports/Nike+Men%27s+USA+Away+Stadium+Replica+Soccer+Jersey'),
 (30, 3, "adidas Men's Germany Home Soccer Jersey", '', 90.0, 'http://images.acmesports.sports/adidas+Men%27s+Germany+Home+Soccer+Jersey'),
 (31, 3, 'Nike+ Fuelband SE', '', 99.0, 'http://images.acmesports.sports/Nike%2B+Fuelband+SE'),
 (32, 3, "PUMA Men's evoPOWER 1 Tricks FG Soccer Cleat", '', 189.99, 'http://images.acmesports.sports/PUMA+Men%27s+evoPOWER+1+Tricks+FG+Soccer+Cleat'),
 (33, 3, 'adidas Brazuca 2014 Top RepliquÃ© Soccer Ball', '', 39.99, 'http://images.acmesports.sports/adidas+Brazuca+2014+Top+Repliqu%C3%A9+Soccer+Ball'),
 (34, 3, 'Nike Women\'s Pro Core 3" Compression Shorts', '', 28.0, 'http://images.acmesports.sports/Nike+Women%27s+Pro+Core+3%22+Compression+Shorts'),
 (35, 3, 'adidas Brazuca 2014 Official Match Ball', '', 159.99, 'http://images.acmesports.sports/adidas+Brazuca+2014+Official+Match+Ball'),
 (36, 3, "adidas Men's Germany Black/Red Away Match Soc", '', 90.0, 'http://images.acmesports.sports/adidas+Men%27s+Germany+Black%2FRed+Away+Match+Soccer+Jersey'),
 (37, 3, "adidas Kids' F5 Messi FG Soccer Cleat", '', 34.99, 'http://images.acmesports.sports/adidas+Kids%27+F5+Messi+FG+Soccer+Cleat'),
 (38, 3, "Nike Men's Hypervenom Phantom Premium FG Socc", '', 0.0, 'http://images.acmesports.sports/Nike+Men%27s+Hypervenom+Phantom+Premium+FG+Soccer+Cleat'),
 (39, 3, "Nike Women's Pro Victory Compression Bra", '', 21.99, 'http://images.acmesports.sports/Nike+Women%27s+Pro+Victory+Compression+Bra'),
 (40, 3, 'Quik Shade Summit SX170 10 FT. x 10 FT. Canop', '', 199.99, 'http://images.acmesports.sports/Quik+Shade+Summit+SX170+10+FT.+x+10+FT.+Canopy'),
 (41, 3, "adidas Men's Mexico Home Soccer Jersey", '', 90.0, 'http://images.acmesports.sports/adidas+Men%27s+Mexico+Home+Soccer+Jersey'),
 (42, 3, "adidas Kids' F10 Messi TRX FG Soccer Cleat", '', 44.99, 'http://images.acmesports.sports/adidas+Kids%27+F10+Messi+TRX+FG+Soccer+Cleat'),
 (43, 3, 'Kijaro Dual Lock Chair', '', 29.99, 'http://images.acmesports.sports/Kijaro+Dual+Lock+Chair'),
 (44, 3, "adidas Men's F10 Messi TRX FG Soccer Cleat", '', 59.99, 'http://images.acmesports.sports/adidas+Men%27s+F10+Messi+TRX+FG+Soccer+Cleat'),
 (45, 3, "adidas Men's F10 Messi FG Soccer Cleat", '', 59.99, 'http://images.acmesports.sports/adidas+Men%27s+F10+Messi+FG+Soccer+Cleat'),
 (46, 3, "Quest 12' x 12' Dome Canopy", '', 149.99, 'http://images.acmesports.sports/Quest+12%27+x+12%27+Dome+Canopy'),
 (47, 3, "Nike Women's Pro Hyperwarm Fitted Tights", '', 24.97, 'http://images.acmesports.sports/Nike+Women%27s+Pro+Hyperwarm+Fitted+Tights'),
 (48, 3, 'adidas Brazuca Final Rio Official Match Ball', '', 159.99, 'http://images.acmesports.sports/adidas+Brazuca+Final+Rio+Official+Match+Ball')]

### Products where the price greater than the average price under it's category

In [14]:
%%sql 

-- gives products of categories that are greater than avergae under each category

-- the inner query acts as group by
-- This query has a WHERE clause that tells it to give us the average for only one category at a time
-- The subquery's result is a single value- the average category product price
-- The WHERE clause tells the query to use a claue from the main query as the criteria in the subquery.

SELECT category_id, category_name, product_name, product_price
from products p ,categories c
WHERE p.product_category_id=c.category_id AND product_price > (
    SELECT avg(product_price) FROM products p
    WHERE p.product_category_id=c.category_id
) ORDER BY category_id, product_name limit 20;

 * postgresql://deepan:***@localhost/itversity_retail_db
20 rows affected.

[(2, 'Soccer', 'Fitness Gear 300 lb Olympic Weight Set', 209.99),
 (2, 'Soccer', "Jordan Men's VI Retro TD Football Cleat", 134.99),
 (2, 'Soccer', "Nike Men's Fingertrap Max Training Shoe", 124.99),
 (2, 'Soccer', "Nike Men's Vapor Carbon Elite TD Football Cle", 129.99),
 (2, 'Soccer', 'Quik Shade Summit SX170 10 FT. x 10 FT. Canop', 199.99),
 (2, 'Soccer', 'Riddell Youth 360 Custom Football Helmet', 299.99),
 (2, 'Soccer', 'Riddell Youth Revolution Speed Custom Footbal', 199.99),
 (2, 'Soccer', "Under Armour Men's Highlight MC Alter Ego Fla", 139.99),
 (2, 'Soccer', "Under Armour Men's Highlight MC Alter Ego Hul", 139.99),
 (2, 'Soccer', "Under Armour Men's Highlight MC Football Clea", 129.99),
 (2, 'Soccer', "Under Armour Men's Highlight MC Football Clea", 129.99),
 (2, 'Soccer', "Under Armour Men's Highlight MC Football Clea", 129.99),
 (2, 'Soccer', "Under Armour Men's Highlight MC Football Clea", 129.99),
 (3, 'Baseball & Softball', 'adidas Brazuca 2014 Official Match Ball', 159.99),
 (3, 'Baseball & Softball', 'adidas Brazuca Final Rio Official Match Ball', 159.99),
 (3, 'Baseball & Softball', "adidas Men's Germany Black/Red Away Match Soc", 90.0),
 (3, 'Baseball & Softball', "adidas Men's Germany Home Soccer Jersey", 90.0),
 (3, 'Baseball & Softball', "adidas Men's Mexico Home Soccer Jersey", 90.0),
 (3, 'Baseball & Softball', "Nike Men's USA Away Stadium Replica Soccer Je", 90.0),
 (3, 'Baseball & Softball', "Nike Men's USA White Home Stadium Soccer Jers", 90.0)]

In [17]:
%%sql 

-- usefule if we need to print he avg of that category

SELECT category_id, category_name, product_name, product_price, t.avg 
FROM categories c INNER JOIN products p
on c.category_id=p.product_category_id 
INNER JOIN (SELECT product_category_id, avg(product_price) FROM products 
    GROUP BY product_category_id
) t on p.product_category_id=t.product_category_id
WHERE product_price > t.avg  ORDER BY category_id, product_name LIMIT 20

 * postgresql://deepan:***@localhost/itversity_retail_db
20 rows affected.

[(2, 'Soccer', 'Fitness Gear 300 lb Olympic Weight Set', 209.99, 118.11416666666662),
 (2, 'Soccer', "Jordan Men's VI Retro TD Football Cleat", 134.99, 118.11416666666662),
 (2, 'Soccer', "Nike Men's Fingertrap Max Training Shoe", 124.99, 118.11416666666662),
 (2, 'Soccer', "Nike Men's Vapor Carbon Elite TD Football Cle", 129.99, 118.11416666666662),
 (2, 'Soccer', 'Quik Shade Summit SX170 10 FT. x 10 FT. Canop', 199.99, 118.11416666666662),
 (2, 'Soccer', 'Riddell Youth 360 Custom Football Helmet', 299.99, 118.11416666666662),
 (2, 'Soccer', 'Riddell Youth Revolution Speed Custom Footbal', 199.99, 118.11416666666662),
 (2, 'Soccer', "Under Armour Men's Highlight MC Alter Ego Fla", 139.99, 118.11416666666662),
 (2, 'Soccer', "Under Armour Men's Highlight MC Alter Ego Hul", 139.99, 118.11416666666662),
 (2, 'Soccer', "Under Armour Men's Highlight MC Football Clea", 129.99, 118.11416666666662),
 (2, 'Soccer', "Under Armour Men's Highlight MC Football Clea", 129.99, 118.11416666666662),
 (2, 'Soccer', "Under Armour Men's Highlight MC Football Clea", 129.99, 118.11416666666662),
 (2, 'Soccer', "Under Armour Men's Highlight MC Football Clea", 129.99, 118.11416666666662),
 (3, 'Baseball & Softball', 'adidas Brazuca 2014 Official Match Ball', 159.99, 79.95083333333334),
 (3, 'Baseball & Softball', 'adidas Brazuca Final Rio Official Match Ball', 159.99, 79.95083333333334),
 (3, 'Baseball & Softball', "adidas Men's Germany Black/Red Away Match Soc", 90.0, 79.95083333333334),
 (3, 'Baseball & Softball', "adidas Men's Germany Home Soccer Jersey", 90.0, 79.95083333333334),
 (3, 'Baseball & Softball', "adidas Men's Mexico Home Soccer Jersey", 90.0, 79.95083333333334),
 (3, 'Baseball & Softball', "Nike Men's USA Away Stadium Replica Soccer Je", 90.0, 79.95083333333334),
 (3, 'Baseball & Softball', "Nike Men's USA White Home Stadium Soccer Jers", 90.0, 79.95083333333334)]

In [16]:
%%sql 

-- gives products of categories that are greater than avergae under each category

-- the inner query acts as group by
-- This query has a WHERE clause that tells it to give us the average for only one category at a time
-- The subquery's result is a single value- the average category product price
-- The WHERE clause tells the query to use a claue from the main query as the criteria in the subquery.

SELECT product_category_id, product_name, product_price
from products p1
WHERE product_price > (
    SELECT avg(product_price) FROM products p2
    WHERE p1.product_category_id=p2.product_category_id
) ORDER BY product_category_id, product_name limit 20;

 * postgresql://deepan:***@localhost/itversity_retail_db
20 rows affected.

[(2, 'Fitness Gear 300 lb Olympic Weight Set', 209.99),
 (2, "Jordan Men's VI Retro TD Football Cleat", 134.99),
 (2, "Nike Men's Fingertrap Max Training Shoe", 124.99),
 (2, "Nike Men's Vapor Carbon Elite TD Football Cle", 129.99),
 (2, 'Quik Shade Summit SX170 10 FT. x 10 FT. Canop', 199.99),
 (2, 'Riddell Youth 360 Custom Football Helmet', 299.99),
 (2, 'Riddell Youth Revolution Speed Custom Footbal', 199.99),
 (2, "Under Armour Men's Highlight MC Alter Ego Fla", 139.99),
 (2, "Under Armour Men's Highlight MC Alter Ego Hul", 139.99),
 (2, "Under Armour Men's Highlight MC Football Clea", 129.99),
 (2, "Under Armour Men's Highlight MC Football Clea", 129.99),
 (2, "Under Armour Men's Highlight MC Football Clea", 129.99),
 (2, "Under Armour Men's Highlight MC Football Clea", 129.99),
 (3, 'adidas Brazuca 2014 Official Match Ball', 159.99),
 (3, 'adidas Brazuca Final Rio Official Match Ball', 159.99),
 (3, "adidas Men's Germany Black/Red Away Match Soc", 90.0),
 (3, "adidas Men's Germany Home Soccer Jersey", 90.0),
 (3, "adidas Men's Mexico Home Soccer Jersey", 90.0),
 (3, "Nike Men's USA Away Stadium Replica Soccer Je", 90.0),
 (3, "Nike Men's USA White Home Stadium Soccer Jers", 90.0)]